* {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

#crown {
  width:10vw;
}

.catGrid {
  list-style-type: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li.kitty {
  width: 50%;
  position: relative;
  display: inline-block;
}

li.kitty img {
  display:block;
  max-height: 50vw;
  max-width: 100%;
}

li.kitty.num1 {
  width: 100%;
}

li.kitty.num1 img {
  max-height: 100vw;
  width:100%;
}


h3.score {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  padding: 0.25em;
  margin:0;
}
